*{box-sizing:border-box;}

html{font-size:45%;}
#welcome-page{
    margin-bottom:100pt;
}
body{
    font-family:'Arima', serif;
    color:whitesmoke;
    background: linear-gradient(
        rgb(224, 241, 125) 3%,
        #FFFFFF 40%,
        #FFFFFF 70%,
        #9c93ee 88%);
    z-index:0;    
    
    
}        

#navbar{
    position:fixed;
    height:70pt;
    right:0;
    top:0;
    display:grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    background: linear-gradient(
        rgb(216, 241, 75) , 
        rgba(255, 255, 255, 0.0)
    );
    
}

.nav-bottom{
    color:rgb(157, 112, 0);
    text-decoration:none;
    font-size: 12pt;
    margin:10px 30px 10px;
    
}


#me{
    display:inline-block;
    justify-content:center;
    margin-top:150pt;
    margin-left:200pt;
    margin-bottom:300pt;
    
} 
#logo{
    left:80vw;
    top:10vw;
    position:fixed;
    z-index:-2;
}
.nav-bottom:hover {
    opacity:0.2;
}

.h2-en{
    font-family: 'Cormorant Garamond', serif;
}

#CV-section{
    display:grid;
    grid-template-columns: 40vw;
    margin:0 30pt 200pt;
    line-height:6rem;
    font-size:2.5rem;
    color:rgb(101, 105, 35);
}

ul{list-style: none; padding:10px;}

#project-section{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    height:200vw;
    
}
.projects-work1  {
    display:flex;
    /*margin-left:100pt;
    grid-template-columns:1fr 2fr 1fr 1fr 2fr;
    grid-template-rows:30vw 20vw;*/
    flex-wrap: wrap;
    justify-content:space-around;
    padding-right:20vw;    
}

.projects-work2  {
    display:flex;
    flex-direction:row;
    /*margin-left:100pt;
    grid-template-columns:1fr 2fr 1fr 1fr 2fr;
    grid-template-rows:30vw 20vw;*/
    flex-wrap: wrap;
    justify-content:space-around;
    padding-right:20vw;    
    
}

.projects-work3  {
    display:flex;
    flex-direction:row;
    /*margin-left:100pt;
    grid-template-columns:1fr 2fr 1fr 1fr 2fr;
    grid-template-rows:30vw 20vw;*/
    flex-wrap: wrap;
    justify-content:space-around;
    padding-right:20vw;    
    
}
.img {
    max-height:25vw;
    margin-left:40pt;
    
}
.img-p3{
    max-height:30vw;
    margin-left:40pt;
}
.content {
    font-size:15pt;
    color:rgb(156, 155, 155);
    max-width:25vw;
}
/*#light-cotent{
    font-size:15pt;
    color:rgb(156, 155, 155);
    max-width:25vw;
}
#zine-cotent{
    font-size:15pt;
    color:rgb(156, 155, 155);
    max-width:25vw;
}*/
.title{
    font-size: 15pt;
    font-family: 'Cormorant Garamond', serif;  
    color:rgb(156, 155, 155);
}


div > p{
    font-size:12pt;
}
.links{
    text-decoration:none;
    color:#88a380;
}
.notes{
    font-size:10pt;
    color:rgb(170, 170, 169);
}
#ACM{
    color:rgb(117, 115, 115)
}
#contact-section{
    font-size:3rem;
    margin-top:500pt;
    display:flex;
    text-align:center;
    padding-left:5vw;
    padding-bottom:20vw;
}